        div{display: inline-block;}
        img{margin-top: 100px;margin-left: 10px;margin-right: 30px;cursor: pointer;}
        p{cursor: pointer;text-align: left;}
        .tn1,.tn2,.tn3{width: 300px;height: 200px;object-fit: cover;object-position: top;}
        #logo{margin-top: 10px;margin-left: 5px;}
        .search-bar{width: 250px;height: 25px;margin-top: 20px;margin-left: 0%;}
        button{background-color: silver;cursor: pointer;width: 50px;height: 30px;}
        button:hover{opacity:0.8}
        #mb{border-radius: 50%;width: 40px;height: 40px;}
        #pictext{text-align: left;margin-top: 0%;margin-top: 10px;float: left;}
   