body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

#quizForm
{
    text-align: justify;
}

#submit{
    text-align: center;
}
.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 10px solid ivory;
    background-color: rgb(222, 14, 222);
}

label {
    display: block;
    margin-bottom: 10px;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}
